*{
  margin: 5 5 5 5;
  padding: 0;
}

section.panel{
  margin-top: 9rem;
}

/*Seccion Navbar*/
.navbar{
  background: linear-gradient(45deg,rgb(251, 255, 0),rgb(248, 115, 6),rgb(250, 36, 82));
}

.arg-programa{
  filter: invert(1);
}

li.list-group-item {
  background-color: transparent;
  border: none;
}

.fa-brands.fa-linkedin.fa-xl{
  color: #0e0e0e;
}

.fa-brands.fa-linkedin.fa-xl:hover{
  color: #fff;
}

.fa-brands.fa-github.fa-xl{
  color: #0e0e0e;
}

.fa-brands.fa-github.fa-xl:hover{
  color: #fff;
}

.fa-regular.fa-envelope.fa-xl{
  color: #0e0e0e;
}

.fa-regular.fa-envelope.fa-xl:hover{
  color: #fff;
}

.fa-solid.fa-user-lock.fa-xl{
  color: #0e0e0e;
}

.fa-solid.fa-user-lock.fa-xl:hover{
  color: #fff;
}

.col-form-label{
  background-color: rgb(26, 78, 121);
  color: #fff;
  border-radius: 10px;
}

.btn-login{
  background-color: rgb(26, 78, 121);
  color: #fff;
  padding: 0.5rem;
  border-color: #fbfbfb;
  border-style: groove;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px black;
}

.btn-login:hover{
  box-shadow: none;
}

/*Seccion Banner*/
.img-banner{
  width: 100%;
  height: 70vh;
  color: #fff;
  background-size: 400% 400%;
  position:relative;
  z-index: 0;
}

.titulo-banner{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nombre-banner{
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
}

/*Seccion Presentacion*/
.rounded-circle.w-25{
  width: 10rem !important;
  position: absolute;
  z-index: 1;
  background-color: #fbfbfb;
  height: auto;
  /*margin-top: -9rem;*/
  top: 90%;
  left: 20%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 5px 1px black;
}

.acerca-de-mi{
  margin-left: 3%;
  margin-top: 5%;
  border-style: groove;
  border-radius: 10px;
  padding-top: 1%;
  background: linear-gradient(55deg,rgb(28, 119, 126),rgb(8, 59, 100),rgb(7, 47, 80));
  box-shadow: 0px 0px 5px 1px black;
  
}

 /*Secciones*/
 .col-sm-2{
  background: linear-gradient(55deg,rgb(28, 119, 126),rgb(8, 59, 100),rgb(7, 47, 80));
  border-style: groove;
  border-radius: 10px;
  padding-top: 3%;
  padding-bottom: 3%;
  box-shadow: 0px 0px 5px 1px black;
 }

 .col-sm-6{
  border-style: groove;
  border-radius: 10px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 5%;
  box-shadow: 0px 0px 5px 1px black;
 }

/*Seccion Educación*/
.educación{
  margin-top: 5rem;
}

.cursos{
  margin-top: 6rem;
}
 
/*Seccion Idiomas*/
.idiomas{
  margin-top: 6rem;
}
.card-idomas{
  width: 18rem;
  border-radius: 10px;
  padding: 2%;
  box-shadow: 0px 0px 5px 1px black;
  background: linear-gradient(55deg,rgb(28, 119, 126),rgb(8, 59, 100),rgb(7, 47, 80));
  border-style: groove;
}

.text-idiomas{
  color: #fbfbfb;
}

/*Seccion Skills*/
.skills{
  margin-top: 6rem;
}

.col-3.skills{
  border-style: groove;
  border-radius: 10px;
  padding: 2%;
  box-shadow: 0px 0px 5px 1px black;
  background: linear-gradient(55deg,rgb(28, 119, 126),rgb(8, 59, 100),rgb(7, 47, 80));
}

/*Seccion Experiencia*/
.experiencia-laboral{
  margin-top: 6rem;
}

/*Seccion Proyectos*/
.proyectos{
  margin-top: 6rem;
}

.card-proyectos{
    width: 18rem;
    box-shadow: 0px 0px 5px 1px black;
}

.card-img-top{
  position: center;
}

.btn.btn-visita{
  background: linear-gradient(55deg,rgb(28, 119, 126),rgb(8, 59, 100),rgb(7, 47, 80));
  color: #fbfbfb;
  box-shadow: 0px 0px 5px 1px black;
  border-style: groove;
}

/*Seccion Formulario*/
form{
  width: 450px;
  background-size: 100vw 100vh;
  margin: auto;
  border-radius: 10px;  
  background: linear-gradient(55deg,rgb(28, 119, 126),rgb(8, 59, 100),rgb(7, 47, 80)); 
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 8rem;
  border-style: groove;
  box-shadow: 0px 0px 5px 1px black;
  margin-bottom: 3rem;
}

.titulo-formulario{
  background: linear-gradient(45deg,rgb(251, 255, 0),rgb(248, 115, 6),rgb(250, 36, 82));
  padding: 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  text-align: center;
}

.imput-formulario{
  width: 80%;
  margin-bottom: 1rem;
  margin-left: 10%;
  padding: 7px;
}

.textarea-formulario{
  width: 80%;
  margin-bottom: 1rem;
  margin-left: 10%;
  padding: 7px;
  min-height: 100px;
}

.btn.btn-enviar{
  width: 50%;
  margin-left: 25%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #fff;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-color: #fbfbfb;
  border-style: groove;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px black;
  background: linear-gradient(55deg,rgb(28, 119, 126),rgb(8, 59, 100),rgb(7, 47, 80));
}

.body-dashboard{
  background: linear-gradient(55deg,rgb(28, 119, 126),rgb(8, 59, 100),rgb(7, 47, 80));
}

.btn-panel{
  border-style: groove;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 3px black;
}