

li.list-group-item {
  background-color: transparent;
  border: none;
}

li.list-group-item:hover{
  color: #fff;
}

.banner{
  max-width: 100%;
  margin-top: -10%;
}

body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcPt-4fgKCUlGNeaJDOXn_SHeutweKSZHQAg&usqp=CAU);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card {
    width: 18rem;
}

.contact_form{  
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
    border-color: #e14658;
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #e14658; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color:#e14658; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #e14658; 
    border-color: #e14658; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: #e14658; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  ::-webkit-input-placeholder {
   color: #e14658;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #e14658;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #e14658;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #e14658
  }
  


